// imports

@import "./mixins.scss";
@import "./presets.scss";
@import "./variables.scss";
@import "./keyframes.scss";


// Nav

#nav{
    width: 100vw;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.2s ease;
}

.nav-links{
    margin-right: 2rem;
    display: flex;
    align-items: center;
    list-style: none;
    transition: all 0.3s ease;

    & a{
        text-decoration: none;
        color: black;
    }
}
.nav-link{
    font: 16px sans-serif;
    margin: 0rem 1rem;
    
}

#logoX{
    margin-left: 2rem;
    width: 25rem;
    transition: all 0.2s ease;
}

#quote-button{
    width: 6rem;
    height: 3rem;
    border: 2px solid $primary-color;
    font: 400 16px sans-serif;
    border-radius: 20px;
    color: $primary-color;
    background-color: white;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

#services{
    position: relative;
    cursor: pointer;
}

#services-sub-menu{
    width:15rem;
    padding: 1rem;
    display: none;
    flex-direction: column;
    background-color: $primary-color;
    list-style: none;
    position: absolute;
    z-index: 3;
    top: 100%;
    margin-top: 1.5rem;
    border-radius: 20px;
    
}

#arrow{
    width: 2rem;
    height: 1rem;
    clip-path: polygon(50% 0%,100% 100%, 0% 100%);
    background-color: $primary-color;
    position: absolute;
    top:-0.9rem;
    transform: translateX(50%);
}


// Main Ad Section


#main-section{
    width: 100vw;
    height: 95vh;
    max-height: 70rem;
    min-height: 50rem;
    @include flexCenterYColumn;
    position: relative;
}

#main-logo{
    width: 20rem;
}

#motto{
    margin: 5rem 0rem;
    font: bold 100px sans-serif;
}






// section 2
#section-two{
    width: 100vw;
    @include flexCenterYColumn;
}

.process{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 5rem 0rem;
}

.steps-info{
    width: 40%;
    @include flexCenterYColumn;

    & h1{
        font: 80px sans-serif;
        text-align: center;
    }
}

.steps-subinfo{
    width: 70%;

    & p{
        font: 25px sans-serif;
        text-align: center;
    }

}

.step-img-container{
    width: 40%;
    height: 70vh;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 60% );
}

#meet{
    background: url("/resources/meeting.jpg") center center/cover;
}

#design{
    background: url("/resources/makeup.jpg") center 30%/cover;
}

#create{
    background: url('/resources/create.svg') center 30%/cover;
}

.step-img-container-reverse{
    width: 40%;
    height: 70vh;
    clip-path: polygon(0% 0%, 100% 30%, 100% 60%, 0% 100% );
}

.number{
    font: 500px sans-serif;
    color: $primary-color;
    text-shadow: 20px 20px 10px #727272;
}

// section 3

#section-three{
    width: 100vw;
    height: 100vh;
    @include flexCenterYColumn;
    margin: 5rem 0rem;
}

// section 4 contact

#section-four{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include flexCenterXY;


}

.contact-form{
    display: flex;
    flex-direction: column;
}
.contact-container{
    display: flex;
}

.contact-inputs{
    display: flex;
    flex-direction: column;

    & input{
        width: 30rem;
        height: 3rem;
    }
}

.message-box{
    width: 30rem;
}

.send-btn{
    margin-top: 1rem;
    height: 3rem;
    background-color: $primary-color;
    border: none;
}

// footer

footer{
    width: 100vw;
    height: 20rem;
    clip-path: polygon(0% 20%, 70% 0%,100% 20%,100% 100%, 0% 100%);
    background-color: $primary-color;
    display: flex;
    align-items: flex-end;
}

#footer-inner{
    width: 100vw;
    height: 18rem;
    clip-path: polygon(0% 20%, 70% 0%,100% 20%,100% 100%, 0% 100%);
    background-color: #404040;
}


// Modal

#modal{
    width: 100vw;
    height: 100vh;
    display: none;
    @include flexCenterXY;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 100;
}


//  MEDIA QUERIES

//large laptop

@media screen and (max-width:1440px){

}


// CUSTOM WEBSITE PAGE

#package-container{
    width: 100vw;
    height: calc(100vh - 5rem);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.package{
    width: 20rem;
    height: 35rem;
    max-height: 35rem;
    @include flexCenterYColumn;
    padding: 1rem;
    border: solid 1px grey;
    border-radius: 20px;
    animation:rise 1s forwards;
    
}

